.button {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    border: none;
    outline: none;
    color: var(--appTextLight);
    cursor: pointer;
    padding: 16px 24px;
    background-color: var(--appBasicPrimary);
    border-radius: 16px;
    width: 288px;
    height: 48px;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: var(--appBasicGreenHover);
    }

    &:active {
        background-color: var(--appBasicGreenPress);
    }

    &:disabled {
        background-color: var(--appBasicGreenDisabled);
        cursor: default;
    }
}
