.button {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    border: none;
    outline: none;
    color: var(--appTextLight);
    cursor: pointer;
    padding: 16px 24px;
    background: var(--appBasicPrimary);
    border-radius: 16px;
    width: 288px;
    height: 48px;

    &:hover {
        background: var(--appBasicGreenHover);
    }

    &:active {
        background: var(--appBasicGreenPress);
    }
}
