:root {
  --appTextPrimary: #313F14;
  --appTextSecondary: #989F8A;
  --appTextLight: #F1F7E6;
  --appTextAttention: #6F795B;
  --appBasicPrimary: #85B719;
  --appBasicGreenHover: #75A102;
  --appBasicGreenPress: #5B7D00;
  --appBasicGreenDisabled: #A9C187;
  --appBasicAttentionBackground: #E4EFCC;

  // with opacity
  --appTextPrimaryOpacity02: #D6D9D0;
  --appTextPrimaryOpacity03: #C1C5B9;
}
