@import './fonts.config';
@import './color.config';

html, body, :global(#root) {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'App Regular';
}

:global(#root) {
  display: grid;
  grid-template-rows:  140px 1fr 78px;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  :global(#root) {
    grid-template-rows:  99px 1fr 50px;
  }
}

@media screen and (max-width: 479px) {
  :global(#root) {
    grid-template-rows:  120px 1fr 64px;
  }
}
