.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  &__info {
    max-width: 915px;

    h1 {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 24px;
    }
  }

  &__createAccount {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--appTextSecondary);
  }

  &__emailForm {
    margin: 24px 0 40px;
  }

  &__emailInput {
    margin-bottom: 15px;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__messageBlock {
    max-width: 425px;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    color: var(--appTextAttention);
    background-color: var(--appBasicAttentionBackground);
    padding: 25px;
    margin-bottom: 24px;
    border-radius: 16px;
  }

  &__illustr {
    background: no-repeat center url("../../assets/svg/registrationIllust.svg");
    margin-top: auto;
    width: 100%;
    height: 100%;
    max-height: 295px;
    margin-bottom: 30px;
    background-size: contain;
  }
}

@media screen and (max-width: 1024px) {
  .registration__messageBlock {
    margin-bottom: 18px;
  }

  .registration__emailForm {
    margin: 18px 0 12px;
  }

  .registration__illustr {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 479px) {
  .registration__info {
    width: auto;
  }

  .registration__button {
    order: 1;
  }

  .registration__messageBlock {
    margin-bottom: 24px;
    max-width: 340px;
  }

  .registration__createAccount {
    order: 1;
  }

  .registration__illustr {
    order: 0;
    max-height: 185px;
    margin: 30px 0;
  }

  .registration__emailForm {
    order: 2;
    margin: 15px 0 26px;
  }
}
