.learnToxic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  &__info {
    max-width: 915px;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__illustr {
    background: no-repeat center url("../../assets/svg/learnToxicIllust.svg");
    margin-top: auto;
    width: 100%;
    height: 100%;
    max-height: 475px;
    margin-bottom: 5px;
    background-size: contain;
  }
}

@media screen and (max-width: 1024px) {
  .learnToxic {
    &__button {
      width: 255px;
    }

    &__illustr {
      margin-bottom: 22px;
    }
  }
}

@media screen and (max-width: 479px) {
  .learnToxic {
    &__info {
      width: auto;
    }

    &__button {
      order: 1;
    }

    &__illustr {
      background: no-repeat center url("../../assets/svg/learnToxicIllustMob.svg");
      background-size: contain;
      order: 0;
      max-height: 240px;
    }
  }
}
