.makeEasy {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  &__info {
    width: 815px;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__illustr {
    background: no-repeat center url("../../assets/svg/makeEasyIllust.svg");
    margin-top: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
    background-size: contain;
  }
}

@media screen and (max-width: 1024px) {
  .makeEasy {
    &__info {
      width: 890px;
    }

    &__button {
      width: 255px;
    }

    &__illustr {
      margin-bottom: 28px;
    }
  }
}

@media screen and (max-width: 479px) {
  .makeEasy {
    &__info {
      width: auto;
    }

    &__button {
      order: 1;
    }

    &__illustr {
      background: no-repeat center url("../../assets/svg/makeEasyIllustBg.svg");
      background-size: contain;
      max-height: 270px;
      order: 0;
    }
  }
}
