main {
  position: relative;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .6s ease opacity;

  &__enter {
    opacity: 0;
  }

  &__enterActive {
    opacity: 1;
  }

  &__exit {
    opacity: 1;
  }

  &__exitActive {
    height: 100%;
    opacity: 0;
  }
}
