html, body, :global(#root) {
  height: 100%;
}

body {
  font-family: "App Regular";
}

main {
  position: relative;
}

.appContainer {
  display: grid;
  grid-template-rows:  140px 1fr 78px;
  height: 100%;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .5s ease opacity;

  &__enter {
    opacity: 0;
  }

  &__enterActive {
    opacity: 1;
  }

  &__exit {
    opacity: 1;
  }

  &__exitActive {
    height: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .appContainer {
    grid-template-rows:  99px 1fr 50px;
  }
}

@media screen and (max-width: 479px) {
  body {
    width: 100%;
  }

  .appContainer {
    grid-template-rows:  120px 1fr 64px;
  }
}
