html, body, :global(#root) {
  height: 100%;
}

body {
  font-family: "App Regular";
}

.appContainer {
  display: grid;
  grid-template-rows:  140px 1fr 78px;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .appContainer {
    grid-template-rows:  99px 1fr 50px;
  }
}

@media screen and (max-width: 479px) {
  body {
    width: 100%;
  }

  .appContainer {
    grid-template-rows:  120px 1fr 64px;
  }
}
