.plantCare {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: no-repeat url("../../assets/svg/plantCareIllustBg.svg");
    background-size: contain;
    width: 100%;
    height: 100%;
    max-height: 410px;
    max-width: 1165px;
    margin: 230px auto 0;
    z-index: -1;
  }

  &__info {
    width: 815px;
  }

  &__button {
    margin-bottom: 20px;
  }

  &__illustr {
    background: no-repeat center url("../../assets/svg/plantCareIllust.svg");
    margin-top: auto;
    width: 100%;
    height: 100%;
    max-height: 415px;
    margin-bottom: 55px;
    background-size: contain;
  }
}

@media screen and (max-width: 1024px) {
  .plantCare {
    width: 815px;
    margin: 0 auto;

    &:before {
      max-width: 660px;
      bottom: 0;
    }

    &__info {
      width: auto;
    }

    &__button {
      width: 255px;
    }

    &__illustr {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 479px) {
  .plantCare {
    width: auto;

    &:before {
      content: none;
    }

    &__button {
      order: 1;
    }

    &__illustr {
      background: no-repeat center url("../../assets/svg/plantCareIllustMob.svg");
      background-size: contain;
      max-height: 340px;
      order: 0;
    }
  }
}
